* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.counter {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(3, 70, 62);
  display: flex;
  flex-direction: column; /* zarovvnám do sloupce - flex-direction určuje hlavní osu*/
  justify-content: center; /* zarovnání po hlavní ose*/
  align-items: center;
}

.counter h1 {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
}

.counter h2 {
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
  margin-bottom: 20px;
}

.btn {
  background-color: rgb(2, 28, 25);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  width: 100px;
  height: 35px;
  font-size: 15px;
}
